h1{
	font-family: Consolas;
}

td{
	color: red;
	font-family: Consolas;
}

.cont{
	max-width: fit-content;
  	margin-left: auto;
  	margin-right: auto;
}
.anh{
     float:right ;
}
table{
	text-align: center;
}
p{
	font-family: Consolas;
}

footer{
	text-align: center;
	background-color: red;
	padding: 25px;
	font-family: Consolas;
}